@{
    ViewBag.Title = "Admin";
}

<head>
    <link href="~/Content/mainstyle.css" rel="stylesheet" />
</head>
@section Sidebar {


    <p>Welcome to Administration</p>
    <p>Welcome to Administration</p>

}
